<div class="form-header">
  <div class="container">
    <div class='row'>
      <div class='col-sm-6 col-sm-offset-3'>
        <% if @post.errors.any? %>
          <div class="alert alert-danger text-center">
            The form contains <%= pluralize(@post.errors.count, "error") %>!
          </div>
          <div class='alert alert-danger'>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_for(@post) do |f| %>
          <div class='form-group text-center'>
            <%= f.hidden_field :image_url, role: 'uploadcare-uploader', data: {crop: '700x400 upscale', 'images-only' => true} %>
          </div>
    
          <hr/>
    
          <div class='form-group'>
            <%= f.label Post.human_attribute_name(:company_name) %>
            <%= f.text_field :company_name, class: 'form-control' %>
          </div>
          
          <div class='form-group'>
            <%= f.label Post.human_attribute_name(:platform_type) %>
            <%= f.select(:platform_type, options_for_select(platform_type), { include_blank: true }, {class: 'form-control'}) %>
          </div>
          
          <div class='form-group'>
            <%= f.label Post.human_attribute_name(:ad_type) %>
            <%= f.select(:ad_type, options_for_select(ad_type), { include_blank: true }, {class: 'form-control'}) %>
          </div>
          <div class='form-group'>
            <%= f.label Post.human_attribute_name(:country_code) %>
            <%= f.country_select :country_code, { include_blank: true, priority_countries: ['SG', 'MY'] }, { class: 'form-control' } %>
          </div>
          <div class='form-group'>
            <%= f.label Post.human_attribute_name(:number_of_enquiries) %>
            <%= f.text_field :number_of_enquiries, class: 'form-control' %>
          </div>
          <div class='form-group'>
            <%= f.label Post.human_attribute_name(:descriptions) %>
            <%= f.text_field :descriptions, class: 'form-control' %>
          </div>          
          <div class='form-group'>
            <%= f.label t('posts.new.all_tags', default: "All Tags") %>
            <%= f.text_field :all_tags, placeholder: t('.all_tags_placeholder', default: "Tags seperated with coma"), class: 'form-control' %>
          </div>
    
          <hr/>
    
          <div>
            <%= f.submit t('.create_post', default: "Create Post"), class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  